<!DOCTYPE html>
<html lang="fr">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="../css/normalize.css" rel="stylesheet" type="text/css">
    <link href="../css/style.css" rel="stylesheet" type="text/css">
    <title>ohmyfood</title>
</head>

<body>
    <div class="center_body">
        <header>
            <div class="logo"></div>
        </header>

        <section class="loca">
            <div class="loca_block">
                <i class="fas fa-map-marker-alt"></i>
                <p>Paris, Belleville</p>
            </div>
        </section>

        <section class="reservation">
            <div class="block">
                <h1>Réservez le menu qui vous convient</h1>
                <p>Découvrez des restaurants d'exception, séléctionnés par nos soins.</p>
                <button href="">Explorer nos restaurants</button>
            </div>
        </section>

        <section class="tuto">
            <h1>Fonctionnement</h1>

            <div class="block_tuto">
                <span>1</span>
                <i class="fas fa-mobile-alt"></i>
                <p>Choisissez un restaurant</p>
            </div>
            <div class="block_tuto">
                <span>2</span>
                <i class="fas fa-list"></i>
                <p>Composez votre menu</p>
            </div>
            <div class="block_tuto blue">
                <span>3</span>
                <i class="fas fa-store"></i>
                <p>Dégustez au restaurant</p>
            </div>
        </section>


        <section class="restaurant_display">

            <h2>Restaurants</h2>

            <a href="/menupalette">
                <div class="block_restau">
                    <button>Nouveau</button>
                    <img class="imagepalette"></img>
                    <h2>La palette du goût</h2>
                    <p>Ménilmontant</p>
                    <div class="heartAnim">
                        <i class="far fa-heart heartAwesome"></i>
                        <i class="fa-solid fa-heart OnHoverheart"></i>
                    </div>
                </div>
            </a>
            <a href="/menunote">
                <div class="block_restau">
                    <button>Nouveau</button>
                    <img class="imagenote"></img>
                    <h2>La note enchantée</h2>
                    <p>Charonne</p>
                    <div class="heartAnim">
                        <i class="far fa-heart heartAwesome"></i>
                        <i class="fa-solid fa-heart OnHoverheart"></i>
                    </div>
                </div>
            </a>

            <a href="/menufrancaise">
                <div class="block_restau">
                    <img class="imagefrancaise"></img>
                    <h2>A la française</h2>
                    <p>Cité rouge</p>
                    <div class="heartAnim">
                        <i class="far fa-heart heartAwesome"></i>
                        <i class="fa-solid fa-heart OnHoverheart"></i>
                    </div>
                </div>
            </a>

            <a href="/menunote">
                <div class="block_restau">
                    <img class="imagedelice"></img>
                    <h2>Le délice des sens</h2>
                    <p>Folie-Méricourt</p>
                    <div class="heartAnim">
                        <i class="far fa-heart heartAwesome"></i>
                        <i class="fa-solid fa-heart OnHoverheart"></i>
                    </div>
                </div>
            </a>

        </section>
    </div>

    <footer>
        <div class="center_body">
            <div class="block">
                <div class="logofooter">ohmyfood</div>

                <div class="inline">
                    <i class="fas fa-utensils"></i>
                    <p>Proposer un restaurant

                </div>
                <div class="inline">
                    <i class="fas fa-hands-helping"></i>
                    <p>Devenir partenaire

                </div>

                <span>Mentions légales</span>
                <span><a href="mailto:Contact@ohmyfood.fr">Contact</a></span>
            </div>
        </div>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/js/all.min.js"></script>
    </footer>
</body>

</html>