<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="../css/normalize.css" rel="stylesheet" type="text/css">
    <link href="../css/style.css" rel="stylesheet" type="text/css">
    <title>ohmyfood</title>
</head>



<body>

    <div class="center_body">

   
        <div class="PageLoader">
            <div class="spinner">
                <span class="spinner-inner-1"></span>
                <span class="spinner-inner-2"></span>
                <span class="spinner-inner-3"></span>
            </div>
            <div class="shadow"></div>
        </div>
        
    


        <header>
            <div class="logo"></div>
        </header>

        <div class="loca">
            <div class="loca_block">
                <i class="fas fa-map-marker-alt"></i>
                <p>Paris, Belleville</p>
            </div>
        </div>

        <section class="reservation">
            <div class="block">
                <h1>Réservez le menu qui vous convient</h1>
                <p>Découvrez des restaurants d'exception, séléctionnés par nos soins.</p>
                <button>Explorer nos restaurants</button>
            </div>
        </section>

        <section class="tuto">
            <h1>Fonctionnement</h1>

            <div class="block_tuto">
                <span>1</span>
                <i class="fas fa-mobile-alt"></i>
                <p>Choisissez un restaurant</p>
            </div>
            <div class="block_tuto">
                <span>2</span>
                <i class="fas fa-list"></i>
                <p>Composez votre menu</p>
            </div>
            <div class="block_tuto">
                <span>3</span>
                <i class="fas fa-store blue"></i>
                <p>Dégustez au restaurant</p>
            </div>
        </section>


        <section class="restaurant_display">

            <h2>Restaurants</h2>

            <div class="menuLoader">
                <div class="spinner">
                    <span class="spinner-inner-1"></span>
                    <span class="spinner-inner-2"></span>
                    <span class="spinner-inner-3"></span>
                </div>

                <a class="block_restau" href="../views/menupalette.html">
                    <div class="New">Nouveau</div>
                    <img alt="Restaurants palette"
                        src="../images/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg" />
                    <h2>La palette du goût</h2>
                    <p>Ménilmontant</p>
                    <div class="heartAnim">
                        <i class="far fa-heart heartAwesome"></i>
                        <i class="fa-solid fa-heart OnHoverheart"></i>
                    </div>
                </a>

            </div>

            <div class="menuLoader">
                <div class="spinner">
                    <span class="spinner-inner-1"></span>
                    <span class="spinner-inner-2"></span>
                    <span class="spinner-inner-3"></span>
                </div>
                <a href="../views/menunote.html">
                    <div class="block_restau">
                        <div class="New">Nouveau</div>
                        <img alt="Restaurants note" src="../images/restaurants/stil-u2Lp8tXIcjw-unsplash.jpg" />
                        <h2>La note enchantée</h2>
                        <p>Charonne</p>
                        <div class="heartAnim">
                            <i class="far fa-heart heartAwesome"></i>
                            <i class="fa-solid fa-heart OnHoverheart"></i>
                        </div>
                    </div>
                </a>
            </div>

            <div class="menuLoader">
                <div class="spinner">
                    <span class="spinner-inner-1"></span>
                    <span class="spinner-inner-2"></span>
                    <span class="spinner-inner-3"></span>
                </div>
                <a href="../views/menufrancaise.html">
                    <div class="block_restau">
                        <img alt="Restaurants français"
                            src="../images/restaurants/toa-heftiba-DQKerTsQwi0-unsplash.jpg" />
                        <h2>A la française</h2>
                        <p>Cité rouge</p>
                        <div class="heartAnim">
                            <i class="far fa-heart heartAwesome"></i>
                            <i class="fa-solid fa-heart OnHoverheart"></i>
                        </div>
                    </div>
                </a>
            </div>

            <div class="menuLoader">
                <div class="spinner">
                    <span class="spinner-inner-1"></span>
                    <span class="spinner-inner-2"></span>
                    <span class="spinner-inner-3"></span>
                </div>
                <a href="../views/menunote.html">
                    <div class="block_restau">
                        <img src="../images/restaurants/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg"
                            alt="Restaurants délice" />
                        <h2>Le délice des sens</h2>
                        <p>Folie-Méricourt</p>
                        <div class="heartAnim">
                            <i class="far fa-heart heartAwesome"></i>
                            <i class="fa-solid fa-heart OnHoverheart"></i>
                        </div>
                    </div>
                </a>
            </div>

        </section>
    </div>
    <footer>
        <div class="center_body">
            <div class="block">
                <div class="logofooter">ohmyfood</div>

                <div class="inline">
                    <i class="fas fa-utensils"></i>
                    <p>Proposer un restaurant

                </div>
                <div class="inline">
                    <i class="fas fa-hands-helping"></i>
                    <p>Devenir partenaire

                </div>

                <span>Mentions légales</span>
                <span><a href="mailto:Contact@ohmyfood.fr">Contact</a></span>
            </div>
        </div>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/js/all.min.js"></script>
    </footer>
</body>

</html>