<!DOCTYPE html>
<html lang="fr">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="../css/normalize.css" rel="stylesheet" type="text/css">
    <link href="../css/style.css" rel="stylesheet" type="text/css">
    <title>ohmyfood</title>
</head>
<body>
        <header>
            <div class="logo"></div>
        </header>

        <section class="loca">
            <div class="loca_block">
                <i class="fas fa-map-marker-alt"></i>
                <p>Paris, Belleville</p>
            </div>
        </section>

        <section class="reservation">
            <div class="block">
                <h1>Réservez le menu qui vous convient</h1>
                <p>Découvrez des restaurants d'exception, séléctionnés par nos soins.</p>
                <button href="">Explorer nos restaurants</button>
            </div>
        </section>

    <footer>
    </footer>
</body>
</html>