<!DOCTYPE html>
<html lang="fr">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="../css/normalize.css" rel="stylesheet" type="text/css">
    <link href="../css/stylesmenu.css" rel="stylesheet" type="text/css">
    <title>ohmyfood</title>
</head>

<body>
    <div class="center_body">
        <header>
            <a class="return_nav" href="./index.html"><i class="fas fa-arrow-left"></i></a>
            <div class="logo"></div>
        </header>

        <div class="restaurant-francaise">

        </div>

        <div class="restaurant-head">
            <h1>À la française</h1>
            <div class="heartAnim">
                <i class="far fa-heart heartAwesome"></i>
                <i class="fa-solid fa-heart OnHoverheart"></i>
            </div>
        </div>

        <section class="menu menu-0">
            <h2>ENTRÉES</h2>
            <span class="spacer">

            </span>
            <div class="block_menu">
                <div class="block_anime">
                    <div class="container_menu">
                        <span class="title">Tartare de poulpes acidulé</span>
                        <div class="inline">
                            <p>au zests d'orange</p>
                            <span>25€</span>
                        </div>
                    </div>
                </div>
                <div class="check-validation">
                    <i class="fa-solid fa-check"></i>
                </div>
            </div>
            <div class="block_menu">
                <div class="block_anime">
                    <div class="container_menu">
                        <span class="title">Velouté de légume d'antan</span>
                        <div class="inline">
                            <p>Carotte,panais,topinambour</p>
                            <span>35€</span>
                        </div>
                    </div>
                </div>
                <div class="check-validation">
                    <i class="fa-solid fa-check"></i>
                </div>
            </div>
            <div class="block_menu blue">
                <div class="block_anime">
                    <div class="container_menu">
                        <span class="title">Soupe à l'oignon</span>
                        <div class="inline">
                            <p>Revisitée</p>
                            <span>20€</span>
                        </div>
                    </div>
                </div>
                <div class="check-validation">
                    <i class="fa-solid fa-check"></i>
                </div>
            </div>
        </section>

        <section class="menu menu-1">
            <h2>PLATS</h2>
            <span class="spacer">

            </span>
            <div class="block_menu">
                <div class="block_anime">
                    <div class="container_menu">
                        <span class="title">Coquilles Saints-Jacques</span>
                        <div class="inline">
                            <p>Accompagnées d'une purée de panais</p>
                            <span>40€</span>
                        </div>
                    </div>
                </div>
                <div class="check-validation">
                    <i class="fa-solid fa-check"></i>
                </div>
            </div>
            <div class="block_menu">
                <div class="block_anime">
                    <div class="container_menu">
                        <span class="title">Magret de canard</span>
                        <div class="inline">
                            <p>Et parmentier de pommes de terres</p>
                            <span>35€</span>
                        </div>
                    </div>
                </div>
                <div class="check-validation">
                    <i class="fa-solid fa-check"></i>
                </div>
            </div>
            <div class="block_menu blue">
                <div class="block_anime">
                    <div class="container_menu">
                        <span class="title">Pigeonneau d'Ille-et-Vilaine</span>
                        <div class="inline">
                            <p>Sur son lit de gnocchis aux légumes</p>
                            <span>44€</span>
                        </div>
                    </div>
                </div>
                <div class="check-validation">
                    <i class="fa-solid fa-check"></i>
                </div>
            </div>
        </section>

        <section class="menu menu-2">
            <h2>DESSERTS</h2>
            <span class="spacer">

            </span>
            <div class="block_menu">
                <div class="block_anime">
                    <div class="container_menu">
                        <span class="title">Pétales de violettes glacés</span>
                        <div class="inline">
                            <p>Et purée de noisettes</p>
                            <span>18€</span>
                        </div>
                    </div>
                </div>
                <div class="check-validation">
                    <i class="fa-solid fa-check"></i>
                </div>
            </div>
            <div class="block_menu">
                <div class="block_anime">
                    <div class="container_menu">
                        <span class="title">Fondant au chocolat</span>
                        <div class="inline">
                            <p>Revisitée</p>
                            <span>22€</span>
                        </div>
                    </div>
                </div>
                <div class="check-validation">
                    <i class="fa-solid fa-check"></i>
                </div>
            </div>
            <div class="block_menu blue">
                <div class="block_anime">
                    <div class="container_menu">
                        <span class="title">Millefeuille croustillant</span>
                        <div class="inline">
                            <p>Myrtilles et pâte d'amande</p>
                            <span>23€</span>
                        </div>
                    </div>
                </div>
                <div class="check-validation">
                    <i class="fa-solid fa-check"></i>
                </div>
            </div>
        </section>


        <button class="submit">
            Commander
        </button>
    </div>
    <footer>
        <div class="center_body">
            <div class="block">
                <div class="logofooter">ohmyfood</div>

                <div class="inline">
                    <i class="fas fa-utensils"></i>
                    <p>Proposer un restaurant

                </div>
                <div class="inline">
                    <i class="fas fa-hands-helping"></i>
                    <p>Devenir partenaire

                </div>

                <span>Mentions légales</span>
                <span><a href="mailto:Contact@ohmyfood.fr">Contact</a></span>
            </div>
        </div>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/js/all.min.js"></script>
    </footer>
</body>

</html>