<!DOCTYPE html>
<html lang="fr">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="../css/normalize.css" rel="stylesheet" type="text/css">
    <link href="../css/stylesmenu.css" rel="stylesheet" type="text/css">
    <title>ohmyfood</title>
</head>

<body>
    <header>
        <a class="return_nav" href="/"><i class="fas fa-arrow-left"></i></a>
        <div class="logo"></div>
    </header>

    <div class="restaurant-delice">

    </div>

    <div class="restaurant-head">
        <h1>Le délice des sens</h1>
        <i class="far fa-heart"></i>
    </div>

    <section class="menu menu-0">
        <h2>ENTRÉES</h2>
        <span class="spacer">

        </span>
        <div class="block_menu ">
            <div class="block_anime">
                <div class="container_menu">
                    <span class="title">Tartare de thon</span>
                    <div class="inline">
                        <p>Assaisonné au yuzu</p>
                        <span>25€</span>
                    </div>
                </div>
            </div>
            <div class="check-validation">
                <i class="fa-solid fa-check"></i>
            </div>
        </div>
        <div class="block_menu">
            <div class="block_anime">
                <div class="container_menu">
                    <span class="title">Bouchée de homard croustillant</span>
                    <div class="inline">
                        <p>Et sa farandole de petits légumes</p>
                        <span>35€</span>
                    </div>
                </div>
            </div>
            <div class="check-validation">
                <i class="fa-solid fa-check"></i>
            </div>
        </div>
        <div class="block_menu blue">
            <div class="block_anime">
                <div class="container_menu">
                    <span class="title">Velouté de cèpes</span>
                    <div class="inline">
                        <p>Aux truffes</p>
                        <span>20€</span>
                    </div>
                </div>
            </div>
            <div class="check-validation">
                <i class="fa-solid fa-check"></i>
            </div>
        </div>
    </section>

    <section class="menu menu-1">
        <h2>PLATS</h2>
        <span class="spacer">

        </span>
        <div class="block_menu">
            <div class="block_anime">
                <div class="container_menu">
                    <span class="title">Poulet rôti aux herbes de Provence</span>
                    <div class="inline">
                        <p>Et sa crème de truffe</p>
                        <span>40€</span>
                    </div>
                </div>
            </div>
            <div class="check-validation">
                <i class="fa-solid fa-check"></i>
            </div>
        </div>
        <div class="block_menu">
            <div class="block_anime">
                <div class="container_menu">
                    <span class="title">Langouste rôtie</span>
                    <div class="inline">
                        <p>Et ses légumes de saison</p>
                        <span>35€</span>
                    </div>
                </div>
            </div>
            <div class="check-validation">
                <i class="fa-solid fa-check"></i>
            </div>
        </div>
        <div class="block_menu blue">
            <div class="block_anime">
                <div class="container_menu">
                    <span class="title">Côte de boeuf Angus</span>
                    <div class="inline">
                        <p>Et sa purée de panais</p>
                        <span>44€</span>
                    </div>
                </div>
            </div>
            <div class="check-validation">
                <i class="fa-solid fa-check"></i>
            </div>
        </div>
    </section>

    <section class="menu menu-2">
        <h2>DESSERTS</h2>
        <span class="spacer">

        </span>
        <div class="block_menu">
            <div class="block_anime">
                <div class="container_menu">
                    <span class="title">Farandole de desserts</span>
                    <div class="inline">
                        <p>Du chef</p>
                        <span>18€</span>
                    </div>
                </div>
            </div>
            <div class="check-validation">
                <i class="fa-solid fa-check"></i>
            </div>
        </div>
        <div class="block_menu">
            <div class="block_anime">
                <div class="container_menu">
                    <span class="title">Crème brulée</span>
                    <div class="inline">
                        <p>Revisitée</p>
                        <span>22€</span>
                    </div>
                </div>
            </div>
            <div class="check-validation">
                <i class="fa-solid fa-check"></i>
            </div>
        </div>
        <div class="block_menu blue">
            <div class="block_anime">
                <div class="container_menu">
                    <span class="title">Tiramisu</span>
                    <div class="inline">
                        <p>À la noisette</p>
                        <span>23€</span>
                    </div>
                </div>
            </div>
            <div class="check-validation">
                <i class="fa-solid fa-check"></i>
            </div>
        </div>
    </section>


    <button class="submit">
        Commander
    </button>

    <footer>
        <div class="block">
            <div class="logofooter">ohmyfood</div>

            <div class="inline">
                <i class="fas fa-utensils"></i>
                <p>Proposer un restaurant

            </div>
            <div class="inline">
                <i class="fas fa-hands-helping"></i>
                <p>Devenir partenaire

            </div>

            <span>Mentions légales</span>
            <span><a href="mailto:Contact@ohmyfood.fr">Contact</a></span>
        </div>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/js/all.min.js"></script>
    </footer>
</body>

</html>