<!DOCTYPE html>
<html lang="fr">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="../css/normalize.css" rel="stylesheet" type="text/css">
    <link href="../css/stylesmenu.css" rel="stylesheet" type="text/css">
    <title>ohmyfood</title>
</head>

<body>
    <header>
        <a class="return_nav" href="/"><i class="fas fa-arrow-left"></i></a>
        <div class="logo"></div>
    </header>

    <div class="restaurant-note">

    </div>

    <div class="restaurant-head">
        <h1>La note enchantée</h1>
        <i class="far fa-heart"></i>
    </div>

    <section class="menu menu-0">
        <h2>ENTRÉES</h2>
        <span class="spacer">

        </span>
        <div class="block_menu">
            <div class="block_anime">
                <div class="container_menu">
                    <span class="title">Ravioles de foie gras</span>
                    <div class="inline">
                        <p>Accompagnés de leur crème à la truffe</p>
                        <span>25€</span>
                    </div>
                </div>
            </div>
            <div class="check-validation">
                <i class="fa-solid fa-check"></i>
            </div>
        </div>
        <div class="block_menu">
            <div class="block_anime">
                <div class="container_menu">
                    <span class="title">Caviar osciètre</span>
                    <div class="inline">
                        <p>Sur blini à la farine de blé noir</p>
                        <span>35€</span>
                    </div>
                </div>
            </div>
            <div class="check-validation">
                <i class="fa-solid fa-check"></i>
            </div>
        </div>
        <div class="block_menu blue">
            <div class="block_anime">
                <div class="container_menu">
                    <span class="title">Homard et espuma de potiron</span>
                    <div class="inline">
                        <p>Mariné au zests d'orange</p>
                        <span>20€</span>
                    </div>
                </div>
            </div>
            <div class="check-validation">
                <i class="fa-solid fa-check"></i>
            </div>
        </div>
        <div class="block_menu">
            <div class="block_anime">
                <div class="container_menu">
                    <span class="title">Foie gras de canard entier</span>
                    <div class="inline">
                        <p>Confiture de figue et pain cuit entier</p>
                        <span>35€</span>
                    </div>
                </div>
            </div>
            <div class="check-validation">
                <i class="fa-solid fa-check"></i>
            </div>
        </div>
    </section>

    <section class="menu menu-1">
        <h2>PLATS</h2>
        <span class="spacer">

        </span>
        <div class="block_menu">
            <div class="block_anime">
                <div class="container_menu">
                    <span class="title">Noix de coquilles Saint-Jacques</span>
                    <div class="inline">
                        <p>Sur lit de purée de céleri-rave</p>
                        <span>40€</span>
                    </div>
                </div>
            </div>
            <div class="check-validation">
                <i class="fa-solid fa-check"></i>
            </div>
        </div>
        <div class="block_menu">
            <div class="block_anime">
                <div class="container_menu">
                    <span class="title">Langoustine poêlée</span>
                    <div class="inline">
                        <p>Purée de patate douce</p>
                        <span>35€</span>
                    </div>
                </div>
            </div>
            <div class="check-validation">
                <i class="fa-solid fa-check"></i>
            </div>
        </div>
        <div class="block_menu blue">
            <div class="block_anime">
                <div class="container_menu">
                    <span class="title">Mijoté de queue de boeuf</span>
                    <div class="inline">
                        <p>Et riz sauvage aux zestes de citron</p>
                        <span>44€</span>
                    </div>
                </div>
            </div>
            <div class="check-validation">
                <i class="fa-solid fa-check"></i>
            </div>
        </div>
    </section>

    <section class="menu menu-2">
        <h2>DESSERTS</h2>
        <span class="spacer">

        </span>
        <div class="block_menu">
            <div class="block_anime">
                <div class="container_menu">
                    <span class="title">Macaron noisette et chocolat</span>
                    <div class="inline">
                        <p>Glace au caramel brun et sel de Guérande</p>
                        <span>18€</span>
                    </div>
                </div>
            </div>
            <div class="check-validation">
                <i class="fa-solid fa-check"></i>
            </div>
        </div>
        <div class="block_menu">
            <div class="block_anime">
                <div class="container_menu">
                    <span class="title">Baba au rhum revisité</span>
                    <div class="inline">
                        <p>Avec son coulis de citron</p>
                        <span>22€</span>
                    </div>
                </div>
            </div>
            <div class="check-validation">
                <i class="fa-solid fa-check"></i>
            </div>
        </div>
        <div class="block_menu blue">
            <div class="block_anime">
                <div class="container_menu">
                    <span class="title">Tarte au citron meringuée</span>
                    <div class="inline">
                        <p>Déstructurée</p>
                        <span>23€</span>
                    </div>
                </div>
            </div>
            <div class="check-validation">
                <i class="fa-solid fa-check"></i>
            </div>
        </div>
    </section>


    <button class="submit">
        Commander
    </button>

    <footer>
        <div class="block">
            <div class="logofooter">ohmyfood</div>

            <div class="inline">
                <i class="fas fa-utensils"></i>
                <p>Proposer un restaurant

            </div>
            <div class="inline">
                <i class="fas fa-hands-helping"></i>
                <p>Devenir partenaire

            </div>

            <span>Mentions légales</span>
            <span><a href="mailto:Contact@ohmyfood.fr">Contact</a></span>
        </div>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/js/all.min.js"></script>
    </footer>
</body>

</html>